# Spring Boot 설정
APP_CONNECTION_POOL_SIZE=100
APP_THREAD_POOL_SIZE=200

# APP_CONNECTION_POOL_SIZE보다 5이상 크게 설정
POSTGRES_POOL_SIZE=105

POSTGRES_DB=app
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
TZ=Asia/Seoul