version: "3.9"

services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  openresty:
    image: openresty/openresty:1.27.1.2-0-bookworm-fat
    container_name: openresty
    depends_on:
      - redis
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - ./nginx/token_bucket.lua:/etc/nginx/lua/token_bucket.lua